#tabelharga{
    margin-top: 3rem;
}

#tabel1{
    margin-right: 0px;
}

#daftarharga1{
    margin-top: 110px;
}

.kotak1{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    
}


@media screen and (max-width: 600px) {

    #daftarharga1{
        margin-top: 150px;
    }

    #tabelharga{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
 }